[Unit]
Description=FlashAirMusic Convert and Sync Service
Documentation=file:///usr/share/doc/FlashAirMusic/README.rst
After=network.target

[Service]
CapabilityBoundingSet=CAP_KILL
Environment="FAM_CONFIG=/etc/FlashAirMusic/FlashAirMusic.ini"
ExecReload=/bin/kill -HUP $MAINPID
ExecStart=/usr/bin/FlashAirMusic run
Group=FlashAirMusic
LimitAS=1073741824
LimitFSIZE=1073741824
LimitMEMLOCK=1073741824
LimitNOFILE=50
LimitNPROC=50
Nice=10
NoNewPrivileges=true
PrivateDevices=true
PrivateTmp=true
ProtectHome=read-only
ProtectSystem=full
StandardError=syslog
StandardOutput=syslog
StartLimitBurst=3
StartLimitInterval=60s
Type=simple
User=FlashAirMusic

[Install]
WantedBy=multi-user.target
